@font-face {
    font-family: 'Frutiger';
    src: url(/public/fonts/Frutiger.ttf);
}

.body {
    font-family: 'Frutiger', sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: 'Frutiger', sans-serif;
}

.mainContainer {
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    background-image: url('/public/wood.jpg');
    background-size: cover; /* Ensures the image covers the entire container */
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-position: center; /* Centers the image */
}

.infoContainer {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    width: 100%;
    height: 100vh;
}

.infoBox {
    background: rgba(10, 10, 10, 0.8);
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 400px;
    height: 20vh;
    border: 1px solid transparent; /* Transparent border */
    background-clip: padding-box; /* Ensures the background doesn't cover the border */

    /* Skeuomorphic border using gradients */
    box-shadow:
            0 2px 5px rgba(0, 0, 0, 0.5), /* Inner shadow for depth */
            inset 0 1px 3px rgba(255, 255, 255, 0.2), /* Light inner highlight */
            0 1px 10px rgba(0, 0, 0, 0.5); /* Outer soft shadow for a lifted effect */
}


.p-title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    color: #dadada;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}

.p-info {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: #dadada;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}

.a-info {
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: #dadada;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

.a-info:hover {
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8),
    0px 0px 20px rgba(255, 255, 255, 0.6),
    0px 0px 30px rgba(255, 255, 255, 0.4);
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Style for the right arrow button */
.toggleSummaryButton {
    font-family: 'Frutiger', sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    margin: auto;
    justify-self: center;
    display: flex;
    font-size: 18px;
    background-color: rgba(211, 211, 211, 0.8);
    border: 2px solid #333;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.toggleSummaryButton:hover {
    background-color: #f0f0f0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.toggleSummaryButton:focus {
    outline: none;
}

.toggleSummaryButton:active {
    background-color: #d0d0d0;
    transform: translateY(1px);
}

.simpleButton {
    font-family: 'Frutiger', sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 18px;
    background-color: rgba(248, 238, 229, 0.8);
    border: 2px solid #333;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.simpleButton:hover {
    background-color: #f3e2d6;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.simpleButton:focus {
    outline: none;
}

.simpleButton:active {
    background-color: #d0d0d0;
    transform: translateY(1px);
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;  /* Centering vertically */
    background-color: transparent; /* Ensure the background is transparent */
}

/* New container for the form with black rectangle background */
.formWrapper {
    display: flex;
    flex-direction: column; /* Stack form elements vertically */
    align-items: center;  /* Centering form elements horizontally */
    justify-content: center; /* Centering form elements vertically */
    width: 400px; /* Set the width of the rectangle */
    padding: 50px; /* Add some padding to the inside of the rectangle */
    background: rgba(10, 10, 10, 0.8);
    border-radius: 10px; /* Rounded corners */
    border: 1px solid transparent; /* Transparent border */
    background-clip: padding-box; /* Ensures background doesn't cover the border */

    /* Skeuomorphic border using gradients and shadows */
    box-shadow:
            0 2px 5px rgba(0, 0, 0, 0.5), /* Inner shadow for depth */
            inset 0 1px 3px rgba(255, 255, 255, 0.2), /* Light inner highlight */
            0 1px 10px rgba(0, 0, 0, 0.5), /* Outer soft shadow for a lifted effect */
            0 8px 15px rgba(0, 0, 0, 0.3); /* Soft shadow to lift the box */
}

.formGroupContainer {
    width: 100%;
}

/* Form group */
.form-group {
    margin-bottom: 20px;
    width: 100%; /* Ensure form fields take the full width of the container */
}

input, textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0.3); /* Glassy border with transparency */
    border-radius: 10px;
    background-color: rgba(117, 117, 117, 0.5); /* Semi-transparent dark background */
    color: #ffffff; /* Brighter text */
    font-size: 16px;
    outline: none;
    transition: all 0.2s ease;
    backdrop-filter: blur(5px); /* Apply a blur effect behind the element for glassy effect */

    /* Removed the glow from box-shadow */
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.6),
    inset -3px -3px 6px rgba(100, 100, 100, 0.2); /* Subtle inner shadows for depth */
}

/* Input focus effect */
input:focus, textarea:focus {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.8),
    inset -2px -2px 4px rgba(100, 100, 100, 0.3); /* Keep the inner shadow on focus */
    background-color: rgba(216, 216, 216, 0.8); /* Lighter background on focus */
    color: #000000; /* Keep text bright on focus */
}

/* Placeholder text styling */
input::placeholder, textarea::placeholder {
    color: #8a8a8a; /* Lighter placeholder text */
}

/* Source: https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp */
/* The sidebar menu */
.sidebar {
    height: 100%; /* Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(31, 17, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Apply blur effect to the background */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 75px; /* Place content 60px from the top */
    transition: 0.5s; /* Transition effect for sliding in */

    /* Add skeuomorphic right border */
    box-shadow:
            2px 0 5px rgba(0, 0, 0, 0.3), /* Outer shadow to the right side */
            inset 1px 0 3px rgba(255, 255, 255, 0.2); /* Inset highlight for the right border */
}

.sidebar::before {
    content: ''; /* Empty content for the pseudo-element */
    position: absolute; /* Position it absolutely in the sidebar */
    top: 70px; /* Position the line below the close button */
    left: 0; /* Make sure the line starts from the left edge of the sidebar */
    width: 100%; /* Make the line span the full width of the sidebar */
    height: 2px; /* Line height (thickness) */

    /* 3D Skeuomorphic effect using gradients */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 25%, rgba(0, 0, 0, 0.2) 75%);

    /* Adding shadows to simulate depth */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 -1px 3px rgba(255, 255, 255, 0.2);
}

/* The sidebar links */
.sidebar a {
    padding: 15px 32px;  /* Increased padding to make the clickable area larger */
    text-decoration: none;
    font-size: 30px;
    color: #dadada;
    display: block;
    transition: 0.3s;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    background-color: transparent; /* No background color initially */
    border-top-right-radius: 5px;  /* Round only the top-right corner */
    border-bottom-right-radius: 5px;  /* Round only the bottom-right corner */
    margin-top: 10px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.2); /* Subtle background color on hover */
}

/* Optional: Add a more distinct effect when hovering, by increasing the padding or changing background */
.sidebar a:hover {
    padding-left: 40px;  /* Increase padding to expand the hover area */
    padding-right: 40px;
}

/* Position and style the close button (top right corner) */
.closebtn {
    font-size: 45px; /* Size of the cross */
    color: white; /* Color of the cross */
    background: none; /* Remove background */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
    padding: 0; /* Remove padding */
    position: absolute; /* Position it in the top-right corner */
    top: 0;
    right: 25px;
    z-index: 1; /* Make sure it appears above other elements */
    transition: color 0.3s;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}

.closebtn:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* The button used to open the sidebar */
.openbtn {
    position: fixed;
    font-size: 35px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
    transition: text-shadow 0.3s, transform 0.2s;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}

/* Only glow when hovered */
.openbtn:hover {
    /* Glow effect on hover */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transform: translateY(-2px);
}

.openbtn:active {
    /* Subtle movement on click */
    transform: translateY(1px);
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.leftContainer {
    position: relative; /* Para permitir posicionamento absoluto dentro */
    padding-bottom: 15px; /* Espaço para a linha */
}

.leftContainer::after {
    content: ''; /* Elemento pseudo para a linha */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Espessura da linha */

    /* Gradiente para efeito 3D */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 25%, rgba(0, 0, 0, 0.2) 75%);

    /* Sombra para profundidade */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 -1px 3px rgba(255, 255, 255, 0.2);
}

/* Books in the library */

.bookshelfContainer {
    background-size: cover;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.bookShelfGridContainer {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    border: 2px solid rgba(213, 213, 213, 0.13);
    width: 750px;
    height: 64vh;
    border-radius: 10px;
}

.bookshelfGrid {
    /* Scroll bar width */
    --scrollbar-width: 8px;

    /* Mask fade distance */
    --mask-height: 32px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: 190px;
    gap: 20px;
    width: 100%;
    height: 75%;
    overflow-y: auto; /* Enables scrolling */
    position: relative;

    /* Ensures bottom content isn't permanently faded */
    /* Space for scrollbar */
    padding: 30px 25px var(--mask-height) 30px;

    /* Content fade mask */
    --mask-image-content: linear-gradient(
            to bottom,
            transparent,
            black var(--mask-height),
            black calc(100% - var(--mask-height)),
            transparent
    );

    /* Scale the content gradient to fit the container */
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

    /* Mask for scrollbar area */
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: var(--scrollbar-width) 100%;

    /* Apply the mask */
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
}

/* Firefox scrollbar */
.bookshelfGrid {
    scrollbar-width: thin;
    scrollbar-color: #333333 transparent; /* Dark thumb, transparent track */
}

/* Webkit (Chrome, Edge, Safari) scrollbar */
.bookshelfGrid::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.bookshelfGrid::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 9999px; /* Fully rounded scrollbar */
}

.bookshelfGrid::-webkit-scrollbar-track {
    background-color: transparent;
}


.bookItem {
    width: 120px;
    height: 180px;
    background: linear-gradient(to bottom, #d4af87, #a67c52);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
}

.bookItem:hover {
    transform: translateY(-10px);
}

.bookTitle {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.emptyShelf {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    justify-items: center;
}

.bookDetailsContainer {
    position: relative;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(6px); /* More intense glassy effect */
    box-shadow:
            0 4px 10px rgba(0, 0, 0, 0.8), /* Soft outer shadow */
            inset 0 1px 3px rgba(255, 255, 255, 0.2); /* Light inner glow */
}

.bookDetailsContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    padding: 4px; /* Border thickness */
    background: linear-gradient(#e7e7e7, #c7c7c7, #8c8c8c, #c0c0c0);
    -webkit-mask:
            linear-gradient(white 0 0) content-box,
            linear-gradient(white 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}

.summaryContainer {
    text-align: center; /* Align the summary text to the left */
    margin-bottom: 20px;
}

.summaryContainer p {
    margin: 0;
}

.summaryText {
    white-space: pre-wrap; /* Ensures that the text will wrap */
    word-wrap: break-word; /* Breaks long words if necessary */
    overflow-wrap: break-word; /* Same as word-wrap */
    word-break: break-word; /* Ensures long words break if necessary */
    line-height: 1.6; /* Adds some line height for readability */
    max-height: 300px; /* Optional: set a maximum height if needed */
    overflow-y: auto; /* Allows scrolling within the container if text exceeds max height */
}

/* Buttons */

.genericButton {
    background: linear-gradient(to bottom, #d2b48c, #a07858); /* Light to dark for depth background */
    color: white;
    display: block;
    padding: 12px;
    margin-top: 30px;
    border: none;
    border-radius: 8px; /* More rounded for a softer look */
    cursor: pointer;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow:
            inset 2px 2px 3px rgba(255, 255, 255, 0.6),  /* Soft highlight */
            inset -2px -2px 5px rgba(0, 0, 0, 0.4), /* Inner shadow for depth */
            2px 2px 5px rgba(0, 0, 0, 0.3); /* Outer shadow for lifting effect */
    transition: all 0.2s ease-in-out;
}

.genericButton:hover {
    background: linear-gradient(to bottom, #b69575, #8a6850);
    box-shadow:
            inset 1px 1px 2px rgba(255, 255, 255, 0.5),
            inset -1px -1px 3px rgba(0, 0, 0, 0.4),
            1px 1px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), 0 0 20px rgba(255, 255, 255, 0.7); /* Glow effect */
}

.genericButton:active {
    background: linear-gradient(to bottom, #a07858, #d2b48c); /* Inverted for pressed effect */
    box-shadow:
            inset 3px 3px 4px rgba(0, 0, 0, 0.5),
            inset -3px -3px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(2px); /* Gives a pressed effect */
}

.deleteButton {
    background: linear-gradient(to bottom, #bd2929, #652222); /* Light to dark for depth background */
    color: white;
    display: block;
    padding: 12px;
    margin-top: 30px;
    border: none;
    border-radius: 8px; /* More rounded for a softer look */
    cursor: pointer;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow:
            inset 2px 2px 3px rgba(255, 255, 255, 0.6),  /* Soft highlight */
            inset -2px -2px 5px rgba(0, 0, 0, 0.4), /* Inner shadow for depth */
            2px 2px 5px rgba(0, 0, 0, 0.3); /* Outer shadow for lifting effect */
    transition: all 0.2s ease-in-out;
}

.deleteButton:hover {
    background: linear-gradient(to bottom, #8c2626, #560f0f);
    box-shadow:
            inset 1px 1px 2px rgba(255, 255, 255, 0.5),
            inset -1px -1px 3px rgba(0, 0, 0, 0.4),
            1px 1px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), 0 0 20px rgba(255, 255, 255, 0.7); /* Glow effect */
}

.deleteButton:active {
    background: linear-gradient(to bottom, #6c1515, #cb0808); /* Inverted for pressed effect */
    box-shadow:
            inset 3px 3px 4px rgba(0, 0, 0, 0.5),
            inset -3px -3px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(2px); /* Gives a pressed effect */
}

.detail-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* Search bar */
.searchBarContainer {
    text-align: center;
    width: 750px;
    margin-bottom: 20px;
}

.searchBar {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}